//Primary

$blue: hsl(223, 87%, 63%);
$white: #FFFFFF;

//Secondary

$pale_blue: hsl(223, 100%, 88%);
$light_red: hsl(354, 100%, 66%);

//Neutral

$gray: hsl(0, 0%, 59%);
$very_dark_blue: hsl(209, 33%, 12%);

$Libre: 'Libre Franklin';